<!--<link rel="stylesheet" href="register-create.component.css">
<header>
  <h2 class="chu">CHU</h2>
  <nav class="navigation">
    <a routerLink="/welcome"  href="#">Accueil</a>
  </nav>
</header>

<body>
<div class="wrapper">


  <div class="form-box register">

      <h2>Registration</h2>
      <div class="A">
    <div class="input-box">
      <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
      <input id="prenom" type="text" required [(ngModel)]="register.prenom" name="prenom">
      <label for="prenom">First name</label>
    </div>
    <div class="input-box">
      <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
      <input id="nom" type="text" required [(ngModel)]="register.nom" name="nom">
      <label for="nom">Last name</label>
    </div>

    <div class="input-box">
      <span class="icon"><br><ion-icon name="calendar-clear-outline"></ion-icon></span>
      <input id="datenais" type="date" required [(ngModel)]="register.datenais">
      <label for="datenais">Birth date<br></label>
    </div>



    <div class="input-box">
      <span class="icon"></span>
      <input type="text"  id="email" [(ngModel)]="register.email">
      <label for="email">Email</label>
    </div>
    <div class="input-box">
      <span class="icon"></span>
      <input type="{{ showPassword ? 'text' : 'password' }}"  id="password" [(ngModel)]="register.password">
      <label for="password">Password</label>


    </div>
        <div class="input-box">
          <span class="icon"></span>
          <input type="text"  id="copassword" [(ngModel)]="register.copassword">
          <label for="copassword">Confirmation de password</label>
        </div>
  </div>

    <div class="B">

      <div class="input-box">
        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
        <input id="adresse" type="text" required [(ngModel)]="register.adresse">
        <label for="adresse">Adress</label>
      </div>
    <div class="input-box">
      <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
      <input id="tel" type="tel" required [(ngModel)]="register.tel">
      <label for="tel">Tel</label>
    </div>

    <div class="input-box">
      <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
      <input id="cin" type="text" required [(ngModel)]="register.cin">
      <label for="cin">CIN</label>
    </div>

    <div class="input-box">
      <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
      <input id="ipp" type="text" required [(ngModel)]="register.ipp">
      <label for="ipp">IPP</label>
    </div>

    <div class="input-box">
      <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
      <input id="code" type="text" required [(ngModel)]="register.code">
      <label for="code">RAMED Code</label>
    </div>



      <div class="remember-forgot">
        <label><input type="checkbox">I agree to the terms & conditions</label>
        <a href="#">Forgot password?</a>
      </div>
</div>


    <button type="submit" class="btn" (click)="save()">Sign up</button>
    <div class="login-register">
      <p>Already have an account? <a routerLink="/login" href="#" class="login-link">Login</a> </p>
    </div>

</div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>-->




















<body>
<div class="container">
  <input type="checkbox" id="flip">
  <div class="cover">
    <div class="front">
      <img src="chirurgie%20generale.jpeg" alt="">
      <div class="text">
        <span class="text-1">Every new friend is a <br> new adventure</span>
        <span class="text-2">Let's get connected</span>

        <button for="flip" type="submit" class="btn" (click)="save()">Sign up</button>


        <div > <label for="flip">For user</label></div>
      </div>
    </div>
    <div class="back">
      <img class="backImg" src="Radiologie.jpeg" alt="">
      <div class="text">
        <span class="text-1">Complete miles of journey <br> with one step</span>
        <span class="text-2">Let's get started</span>
      </div>
    </div>
  </div>
  <div class="forms">
    <div class="form-content">
      <div class="login-form">
        <div class="title">Login</div>
        <form action="#">

          <div class="input-boxes">


            <div class="input-box">
              <input id="prenom" type="text" required [(ngModel)]="register.prenom" name="prenom" placeholder="First name">
            </div>

            <div class="input-box">
              <input id="nom" type="text" required [(ngModel)]="register.nom" name="nom" placeholder="Last name">
            </div>

            <div class="input-box">
              <input id="datenais" type="date" required [(ngModel)]="register.datenais" placeholder="Date ">
            </div>
            <div class="input-box">
              <span class="mdi mdi-email"></span>
            <input type="text"  id="email" [(ngModel)]="register.email"placeholder="Enter your email" required>
          </div>

            <div class="input-box">
              <input type="password" id="password" [(ngModel)]="register.password" placeholder="Enter your password" required>
            </div>

            <div class="input-box">
              <input type="text"  id="copassword" [(ngModel)]="register.copassword" placeholder="Confirmation password">
            </div>

            <div class="input-box">
              <input id="adresse" type="text" required [(ngModel)]="register.adresse" placeholder="Adress">
            </div>
            <div class="input-box">
              <input id="tel" type="tel" required [(ngModel)]="register.tel" placeholder="Tel">
            </div>
            <div class="input-box">
              <input id="cin" type="text" required [(ngModel)]="register.cin" placeholder="Enter your cin">
            </div>
            <div class="input-box">
              <input id="ipp" type="text" required [(ngModel)]="register.ipp" placeholder="Enter your ipp">
            </div><div class="input-box">
              <input id="code" type="text" required [(ngModel)]="register.code" placeholder="Enter your code">
            </div>



            <div class="button input-box">
              <input type="submit" value="Register">
            </div>
            <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            <div > <label for="flip">For user</label></div>
          </div>
        </form>
      </div>
      <div class="signup-form">
        <div class="title">Signup</div>
        <form action="#">
          <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Enter your name" required>
            </div>
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Enter your password" required>
            </div>
            <div class="button input-box">
              <input type="submit" value="Sumbit">
            </div>
            <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>


