<link rel="stylesheet" href="register-create.component.css">
<header>
  <h2 class="chu">CHU</h2>
  <nav class="navigation">
    <a href="#">Demandez un rendez-vous</a>
  </nav>
</header>

<body>
<div class="wrapper">

  <div class="form-box register">
  <h2>Registration</h2>

    <div class="input-box">
      <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
      <input id="prenom" type="text" required [(ngModel)]="register.prenom" name="prenom">
      <label for="prenom">First name</label>
    </div>
    <div class="input-box">
      <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
      <input id="nom" type="text" required [(ngModel)]="register.nom" name="nom">
      <label for="nom">Last name</label>
    </div>

    <div class="input-box">
      <span class="icon"><ion-icon name="calendar-clear-outline"></ion-icon></span>
      <input id="datenais" type="date" required [(ngModel)]="register.datenais">
      <label for="datenais">Birth date</label>
    </div>

  <div class="input-box">
      <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
      <input id="adresse" type="text" required [(ngModel)]="register.adresse">
      <label for="adresse">Adress</label>
    </div>

    <div class="input-box">
      <span class="icon"></span>
      <input type="text"  id="email" [(ngModel)]="register.email">
      <label for="email">Email</label>
    </div>

    <div class="input-box">
      <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
      <input id="tel" type="tel" required [(ngModel)]="register.tel">
      <label for="tel">Tel</label>
    </div>

    <div class="input-box">
      <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
      <input id="cin" type="text" required [(ngModel)]="register.cin">
      <label for="cin">CIN</label>
    </div>

    <div class="input-box">
      <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
      <input id="ipp" type="text" required [(ngModel)]="register.ipp">
      <label for="ipp">IPP</label>
    </div>

    <div class="input-box">
      <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
      <input id="code" type="text" required [(ngModel)]="register.code">
      <label for="code">RAMED Code</label>
    </div>






    <div class="remember-forgot">
      <label><input type="checkbox">I agree to the terms & conditions</label>
      <a href="#">Forgot password?</a>
    </div>
    <button type="submit" class="btn" (click)="save()">Sign up</button>
    <div class="login-register">
      <p>Already have an account? <a routerLink="/login" href="#" class="login-link">Login</a> </p>
    </div>

</div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
