<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<link rel="stylesheet" href="identif-create.component.css">
<header>
  <h2 class="chu">CHU</h2>
  <nav class="navigation">
    <a routerLink="/welcome"  href="#">Accueil</a>
  </nav>
</header>

<body>
<div class="wrapper">

  <div class="form-box login">
    <h2>Login</h2>
    <form #f="ngForm" (ngSubmit)="continue()">

      <div class="input-box">
        <span class="icon"><i class="fas fa-envelope"></i></span>
        <input type="email" name="email" [(ngModel)]="identif.user" required>
        <label>Email</label>
      </div>

      <div class="input-box">
        <span class="icon"><i class="fas fa-lock"></i></span>
        <input type="password" name="password" [(ngModel)]="identif.password" required>
        <label>Password</label>
      </div>

      <div class="remember-forgot">
        <label><input type="checkbox" name="remember">Remember me</label>
        <a href="#">Forgot password?</a>
      </div>

      <button type="submit" [disabled]="f.invalid || !identif.user || !identif.password" class="btn">Login</button>

      <div class="login-register">
        <p>Don't have an account? <a routerLink="/register" href="#" class="register-link">Register</a></p>
      </div>
    </form>
  </div>
</div>
</body>
