.cc-nav-item.cc-submenu {
  position: relative;

  @media (min-width: $md) {
    &:hover {
      .cc-dropdown-menu {
        opacity: 1;
        visibility: visible;
        top: 100%;
      }
    }
  }


  .cc-dropdown-menu {
    position: absolute;
    display: block;
    left: 0;
    top: 150%;
    min-width: 200px;
    padding: 0;
    text-align: left;
    background-color: $main-color;
    color: $break-white;
    border: none;
    border-radius: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
  }

  a.cc-nav-link {
    display: block;
    width: 100%;
    transition: color .25s ease-in;

    &:hover, &:active, &.active, &.hover {
      color: $sec-color;
      border-bottom-color: transparent;
    }
  }
}