
<body>

<div class="container">
  <div class="forms">
    <div class="form-content">

      <div class="login-form">

      <div class="cover">
        <div class="front">
          <img src="Radiologie.jpeg" alt="">
          <div class="text">
            <span class="text-1">Pour s'inscrire autant <br> q'un patient <br> cliquez ici</span>
            <br>
            <button type="submit" class="btn" routerLink="/register" >Sign up</button>
          </div>
        </div>
      </div></div>

      <div class="signup-form">
        <div class="title">Sign up for user</div>
        <form action="#">
          <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input id="prenom" type="text" required [(ngModel)]="user.prenom" name="prenom" placeholder="First name">
            </div>
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input id="nom" type="text" required [(ngModel)]="user.nom" name="nom" placeholder="Last name">
            </div>
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text"  id="email" [(ngModel)]="user.email" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
              <input type="password" id="password" [(ngModel)]="user.password" placeholder="Enter your password" required>
            </div>
            <div class="input-box">
              <input type="text"  id="copassword" [(ngModel)]="user.copassword" placeholder="Confirmation password">
            </div>
            <div class="button input-box">
              <input type="submit" value="Sign up">
            </div>
            <div class="text sign-up-text">Already have an account? <label routerLink="/login">Login now</label></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  .icon-text {
    display: flex;
    align-items: center;
  }
  .icon {
    margin-right: 10px;
  }
</style>
</body>


