
<body>

<header class="cc-header" id="header">
  <div class="cc-container">
    <div class="header-container">
      <!-- Logo -->
      <a href="#" class="logo"><img src="assets/images chu/chuu.ico" alt="Le logo" class="img"></a>
      <!--End logo -->
      <nav class="cc-navigation"><!-- Navigation begin -->
        <ul class="cc-nav-links">
          <li class="cc-nav-item"><a href="welcome-create.component.html" class="cc-nav-link active">Accueil
            <i class="fas fa-home"></i></a></li>

          <li class="cc-nav-item cc-submenu"><!-- Submenu link -->
            <a href="#" class="cc-nav-link">Demander un rendez vous <i class="fas fa-comments"></i></a>

            <ul class="cc-dropdown-menu"><!-- Dropdown menu -->
              <li class="cc-nav-item"><a routerLink="/login" href="#" class="cc-nav-link active">Se connecter <i
                class="fas fa-comment"></i></a></li>
              <li
                class="cc-nav-item"><a routerLink="/register" href="src\app\view\registers\register-create\register-create.component.html" class="cc-nav-link">Créer un compte <i class="fas fa-newspaper"></i></a></li>
            </ul>
          </li>

          <li class="cc-nav-item"><a href="contact.html" class="cc-nav-link">Contact <i class="fas fa-envelope"></i></a></li>
        </ul>
      </nav><!-- End Navigation -->
      <a href="#" class="hamburger" id="hamburger"><i class="fas fa-bars"></i></a><!-- responsive menu icon
                 -->
    </div>
  </div>
</header><!-- End header section -->

<!-- Banner section -->
<section class="banner" id="banner">
  <div class="cc-container">
    <div class="banner-wrapper">
      <h1 class="b-title">Centre Hospitalo-Universitaire </h1>
      <p>Mohammed VI Marrakech</p>
    </div>
  </div>
</section> <!-- End banner section -->

<!-- Card section -->
<section class="cc-card py-70" id="card">
  <div class="cc-container">
    <div class="card-wrapper">
      <article>
        <header>
          <h4><strong>L'Hopital</strong> </h4>
        </header>
        <p>Le CHU Mohammed VI (Marrakech) est un centre hospitalier universitaire situé à Marrakech. Il est affilié au ministère de la Santé. Il se compose de 4 hôpitaux, qui sont l'hôpital Ibn Al-Nafees, l'hôpital Ibn Tofail, l'hôpital Al-Razi, l'hôpital mère et enfant, en plus d'un centre d'oncologie et d'hématologie.Le CHU Mohammed VI (Marrakech) a été créé en vertu de la loi n° 82.00, modifiée par la loi n° 37.80 relative aux centres hospitaliers.</p>
      </article>

    </div>
  </div>
</section><!-- End cc-card section -->


<section class="articles py-70" id="articles">
  <div class="cc-container">
    <div class="articles-wrapper">
      <header class="section-header">
        <h1 class="main-title">Comment prendre un rendez vous?</h1>
        <img src="assets\images chu\check.png" class="rounded mx-auto d-block" alt="...">
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorem eius et ex, magnam molestias nulla soluta vero. Accusamus adipisci amet culpa distinctio ducimus esse modi natus nostrum officiis ullam!</p>-->
      </header>

      <div class="articles-container cc-row">
        <article class="px-15">

          <header>

            <h4><strong><br>Pour un patient</strong></h4>
            <i class="bi bi-check2-circle"></i>
          </header>



          <style>
            .icon-text {
              display: flex;
              align-items: center;
            }
            .icon {
              margin-right: 10px;
            }
          </style>

          <body>
          <div class="icon-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg>
            <span><strong><br>Remplir le registre</strong> <br> Remplir le formulaire attentivement et sans faute.Cette étape est obligatoire.</span>
          </div>

          <div class="icon-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg>
            <span><br><strong>S'identifier</strong><br>Entrer votre e-mail et le mot de passe pour accéder à la page suivante.</span>
          </div>

          <div class="icon-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg>
            <span><br><strong>Choisir le service</strong><br>Séléctionnez les informations nécessaires pour confirmer votre demande.<br></span>
          </div>


          <footer><br><br><a  routerLink="/register" href="#" class="cc-btn btn-big">Registration pour patient</a></footer>
          </body>
        </article>

        <article class="px-15">
          <!--coté 2-->
          <header>
            <h4><strong><br>Pour un utilisateur</strong></h4>
          </header>

          <style>
            .icon-text {
              display: flex;
              align-items: center;
            }
            .icon {
              margin-right: 10px;
            }
          </style>


          <div class="icon-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg>
            <span><strong><br>Remplir le registre</strong> <br> Remplir le formulaire attentivement et sans faute.Cette étape est obligatoire.</span>
          </div>

          <div class="icon-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg>
            <span><br><strong>S'identifier</strong><br>Entrer votre e-mail et le mot de passe pour accéder à la page suivante.</span>
          </div>

          <div class="icon-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
              <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
              <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
            </svg>
            <span><br><strong>Choisir le service</strong><br>Séléctionnez les informations nécessaires pour confirmer votre demande.<br></span>
          </div>


          <footer><br><br><a routerLink="/user" href="#" class="cc-btn btn-big">Registration pour utilisateur</a></footer>
        </article>


      </div>
    </div>
  </div>
</section>

<!-- Mentors section -->
<section class="mentors py-70 bg-bw" id="mentors">
  <div class="cc-container">
    <div class="mentors-wrapper">
      <header class="section-header"><!-- Mentors header (Title + Desc) -->
        <h1 class="main-title">Nos Services d'Excellence </h1>
      </header><!-- End mentors header -->

      <div class="mentors-container cc-row"><!-- Mentors cc-container -->
        <div class="mentor-box px-15">
          <div class="box">
            <div class="mentor-img"><img src="assets\images chu\Radiologie.jpeg" alt="Mentor" class="img img-rounded"></div>
            <h4 class="l4-title">Radiologie</h4>

          </div>
        </div>

        <div class="mentor-box px-15">
          <div class="box">
            <div class="mentor-img"><img src="assets\images chu\chirurgie generale.jpeg" alt="Mentor" class="img img-rounded"></div>
            <h4 class="l4-title">Chirurgie générale </h4>

          </div>
        </div>
        <div class="mentor-box px-15">
          <div class="box">
            <div class="mentor-img"><img src="assets\images chu\Cardiologie.jpg" alt="Mentor" class="img img-rounded"></div>
            <h4 class="l4-title">Cardiologie</h4>

          </div>
        </div>
        <div class="mentor-box px-15">
          <div class="box">
            <div class="mentor-img"><img src="assets\images chu\Traumatologie.webp" alt="Mentor" class="img img-rounded"></div>
            <h4 class="l4-title">Traumatologie</h4>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<footer class="footer py-70 bg-bw" id="footer">
  <div class="cc-container">
    <div class="footer-blocks cc-row">
      <div class="footer-block f-links px-15">
        <ul>
          <li><a href="#">A propos de nous</a></li>
          <li><a href="#">Nous écrire</a></li>
          <li><a href="#">Politique de confidentialité</a></li>
        </ul>
      </div>
      <div class="footer-block s-links px-15">
        <ul>
          <li><a href=""><i class="fab fa-facebook"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
          <li><a href=""><i class="fab fa-youtube"></i></a></li>
          <li><a href=""><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>

      <div class="copyright" id="copyright">
        &copy; | Copyright 2023 <script>document.write(new Date().getFullYear());</script> all rights reserved
      </div>
    </div>
  </div>
</footer>


<script type="text/javascript" src="assets/js/script.js"></script>
</body>

