
<link rel="stylesheet" href="prestation-create.component.css">
<header>
  <h2 class="chu">CHU</h2>

  <nav class="navigation">
    <a href="#">Demandez un rendez-vous</a>
  </nav>
</header>
<body>

<div class="wrapper">
  <div class="form-box prestation">
    <h2>Prestation</h2>

    <form action="#">
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Nature de prestation</label>
        <select class="form-select" id="inputGroupSelect01">
         <option selected>Choose...</option>
         <option value="1">Consultation</option>
       </select>
      </div>

<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Hôpital</label>
  <select class="form-select" id="inputGroupSelect02">
    <option selected>Choose...</option>
    <option value="1">Hôpital mère et enfant</option>
    <option value="2">Centre de diagnostic</option>
  </select>
</div>


<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Service</label>
  <select class="form-select" id="inputGroupSelect03">
    <option selected>Choose...</option>
    <option value="1">Dermatologie</option>
    <option value="2">Cardiologie</option>
    <option value="3">Rhumatologie</option>
    <option value="4">Médecine interne</option>
    <option value="5">Neurologie</option>
    <option value="6">Endocrinologie</option>
    <option value="7">Gastro-entérologie</option>
    <option value="8">Maladies infectieuses</option>
    <option value="9">Pneumologie</option>
    <option value="10">Néphrologie</option>
    <option value="11">Urologie</option>
    <option value="12">Oto-Rhino-Laryngologie</option>
    <option value="13">Traumatologie</option>
    <option value="14">Chirurgie plastique</option>
    <option value="15">Chirurgie Maxillo Faciale</option>
    <option value="16">Neurochirurgie</option>
    <option value="17">Ophtalmologie</option>
    <option value="18">Chirurgie cardiovasculaire</option>
    <option value="19">Chirurgie thoracique</option>
    <option value="19">Chirurgie générale</option>
    <option value="19">Radiologie</option>
    <option value="19">Laboratoire</option>
  </select>
  <div class="card text-bg-dark">
    <img src="Radiologie.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>

  <button id="my-button"></button>



</div>
<button type="submit" class="btn">Confirm</button>
    </form>
</div></div>
</body>
